.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.swiper-button-next, .swiper-button-prev {
  color: #fff;
  top: 20px;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px;
}
.information-card {
  position: relative;
  background-color: #eee;
  -webkit-transition: visibility 300ms ease, opacity 300ms ease;
  -o-transition: visibility 300ms ease, opacity 300ms ease;
  transition: visibility 300ms ease, opacity 300ms ease;
  font-size: 12px;
  height: auto;
  padding-top: 56px;
}
.bar {
  width: 100%;
  background-color: var(--pokedex-red);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
}
.bar h3 {
  margin: 0;
  line-height: 32px;
  text-align: center;
}
hr {
  border: 2px solid #222;
  margin: 16px 0;
}
.pokemon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.type-container {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-container span,
.top-bar {
  padding: 4px 8px;
  margin-right: 8px;
}

.close-btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.close-btn:focus {
  outline: none;
  border: none;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

.profile li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}

.profile span {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .information-card {
    font-size: 1rem;
  }
}