.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.information-card {
  background-color: #eee;
  transition: visibility 300ms ease, opacity 300ms ease;
  font-size: 0.75rem;
}
.bar {
  width: 100%;
  background-color: var(--pokedex-red);
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: center;
}
.bar h3 {
  margin: 0;
}
hr {
  border: 2px solid #222;
  margin: 16px 0;
}
.pokemon-title {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.type-container {
  text-transform: capitalize;
  color: #fff;
  display: flex;
}

.type-container span,
.top-bar {
  padding: 4px 8px;
  margin-right: 8px;
}

.close-btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.close-btn:focus {
  outline: none;
  border: none;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

.profile li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.profile span {
  text-transform: capitalize;
  font-weight: 400;
  direction: rtl;
}

@media screen and (min-width: 768px) {
  .information-card {
    font-size: 1rem;
  }
}
