input,
input:focus {
  border: none;
  border-radius: 0px;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

label {
  display: none;
}

form {
  display: flex;
  align-items: center;
  height: 100%;
}

input {
  background-color: transparent;
  font-size: 4px;
  line-height: 4px;
  text-transform: uppercase;
  text-align: center;
  width: 52px;
  color: #eee;
}

option {
  text-transform: capitalize;
}